
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
:root{
    --sideBGcolor :#040b14;
    --themeBGcolor:#00A78E ;
    --iconBGcolor:#2C2F3F;
    --textcolor: #525252;
    --bgcolor:#F7F7F7;
}
header{
    height: 100vh;
    width: 300PX;
    padding: 15px 30px;
    background-color: var(--sideBGcolor);
    overflow-y:auto ;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
}
header .profile{
    text-align: center;
    margin: 10px 0;
}
header .profile img{
    width: 150px;
    border-radius: 50%;
    border: 10px solid var(--iconBGcolor);

}
header .profile h1{
    color:white;
    font-weight: 600;
}
header .profile .social-icon a{
display: inline-block;
width: 36px;
height: 36px;
border-radius: 50%;
text-align: center;
line-height: 37px;
background-color: var(--iconBGcolor);
color: white;
font-size: 18px;
margin: 1.5px;
transition: 0.4s;
}
header .profile .social-icon a :hover{
    background-color:var(--themeBGcolor);
}
header nav{
    margin-top: 30px;
}
header nav ul li{
list-style: none;
}
header nav ul li a{
display: inline-block;
text-decoration: none;
padding: 7px 10px;
margin: 7px 0;
color: lightgray;
font-weight: 400;
font-size: 15px;
letter-spacing: 0.6px;
}
header nav ul li a i{
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}
header nav ul li a:hover i{
    color: var(--themeBGcolor);

}
header nav ul li .active{
    color: var(--themeBGcolor);
}
header .footer{
text-align: center;
background-color: var(--sideBGcolor);
width: 300px;
color: lightgray;
font-size: 14px;
letter-spacing: 0.6px;
padding: 14px;
position: fixed;
bottom: 0;
left: 0;
transition: 0.4s;
}
header .footer p{
    color: var(--themeBGcolor);
}
#MenuBtn{
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: white;
    background-color: var(--themeBGcolor);
    text-align: center;
    line-height: 42px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
   
    z-index: 999;
}
@media  only screen and (max-width :320px) {
    header{
        left: -300px;
    }
    header .footer{
        left: -300px;
    }
    #MenuBtn{
        display: block;
    }
}
.mobile-nav-active header{
    left: 0;

}
.mobile-nav-active header .footer{
    left: 0;
}
main{
    margin-left: 300px;
    background-color: var(--bgcolor);
transition: 0.3s;
}
@media only screen and (max-width :320px) {
    main{
        margin-left: 0;
    }
    
}
#Home{
    height: 100vh;
    width: 100%;
    background-image: url(./ganza2.png);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content:center;
    position: relative;
}
#Home ::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.082);
    position: absolute;
    top: 0;
    left: 0;

}
#Home .home-row {
    z-index: 1;

}
#Home .home-row h1{
    font-size: 60px;
    color:rgb(167, 140, 140);
    font-weight: 600;
    letter-spacing: -1px;
    margin-bottom: 10px;
    line-height: 70px;
}
#Home .home-row h1 span{
    color:yellow;
}
#Home .home-row p{
    color: rgb(175, 51, 57);
    font-size: 40px;
    font-weight: 500px;
}#Home .home-row p span{
    border-bottom: 4px solid var(--themeBGcolor);

}
@media only screen and (max-width :640px){
    #Home{
        padding: 30px;
    }
    #Home .home-row h1{
        font-size: 35px;
        letter-spacing: 0;
        margin-bottom: 10px;
        line-height: 50px;
}
}
#Home .home-row p{
    font-size: 20px;
    font-weight: 400;
    
}
#About{
    padding: 70px 30px;
}
.sub_heading{
    color: #040b14;
    font-size: 30px;
    margin-bottom: 10px;
}
.divider{
    width: 80px;
    height: 4px;
    background-color: var(--themeBGcolor);
    border-radius: 3px;
}
#About .divider ~ p{
color: var(--textcolor);
font-size: 15px;
letter-spacing: 0.4px;
font-weight: 400;
margin-top: 15px;
}
#About .about-col{
    display: flex;
    gap: 20px;
    margin-top: 25px;

}
#About .img-col img {
    max-width: 100%; 
}

#About .info-col {
    max-width: calc(100% - 200px); 
}